<aside class="sidebar" ng-show="$parent.vm.isSidebarOpen">
    <div class="brand-logo">
        Cobalt
    </div>

    <ul>
        <li>
            <a ui-sref="home">
                <md-icon md-svg-src="/assets/svg/ic_menu_24px.svg" class="s24"></md-icon>
                Home
            </a>
        </li>
        <li>
            <a ui-sref="product">
                <md-icon md-svg-src="/assets/svg/ic_menu_24px.svg" class="s24"></md-icon>
                Products
            </a>
        </li>
        <li>
            <a ui-sref="test">
                <md-icon md-svg-src="/assets/svg/ic_menu_24px.svg" class="s24"></md-icon>
                Test
            </a>
        </li>
    </ul>
</aside>