<section>
    <div class="well white">
        
        <md-button class="md-raised md-primary" ng-click="vm.toast.success()">
            Success
        </md-button>
        
        <md-button class="md-raised md-primary" ng-click="vm.toast.info()">
            Info
        </md-button>
        
        <md-button class="md-raised md-primary" ng-click="vm.toast.error()">
            Error
        </md-button>
        
        <md-button class="md-raised md-primary" ng-click="vm.toast.Warning()">
            Warning
        </md-button>
        
        <md-button class="md-raised md-primary" ng-click="vm.toast.long()">
            Long
        </md-button>

    </div>
</section>