<div class="modal-header" ng-show="title">
    <span>{{ title }}</span>
</div>
<div class="modal-body">
    <div class="pull-right text-muted">
        <i class="fa fa-fw fa-3x" ng-show="iconCss" ng-class="iconCss"></i>
        <img ng-src="{{ icon }}" ng-show="icon" alt="" />
    </div>
    <p ng-if="!isMessageHtml">{{ message }}</p>
    <div ng-if="isMessageHtml" ng-bind-html="message"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()">OK</button>
</div>