<div class="modal-header" ng-show="title">
    <span>{{ title }}</span>
</div>
<div class="modal-body">
    <div class="pull-right text-muted">
        <i class="fa fa-fw fa-3x" ng-show="iconCss" ng-class="iconCss"></i>
        <img ng-src="{{ icon }}" ng-show="icon" alt="" />
    </div>
    <p>{{ message }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="yes()">{{ confirmText }}</button>
    <button class="btn" data-ng-click="no()">{{ cancelText }}</button>
</div>
