<form name="modalForm">
    <fieldset ng-disabled="vm.busy">

        <div class="modal-header" ng-show="title">
            <h4>{{ title }}</h4>
        </div>

        <div class="modal-body">
            <p>{{ message }}</p>

            <ng-form name="form_{{f.id}}" ng-repeat="f in fields">

                <div class="form-group" ng-class="{ 'has-error' : form_{{f.id}}.$invalid }">

                    <!-- Standard Text Input -->
                    <div ng-if="f.type == 'text' && !f.pattern && !f.smartFloat">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="text" class="form-control" ng-model="f.value" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" />
                    </div>
                    
                    <!-- Standard Text Input with smart-float -->
                    <div ng-if="f.type == 'text' && !f.pattern && f.smartFloat">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="text" class="form-control" ng-model="f.value" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" smart-float />
                    </div>

                    <!-- Standard Text Input with RegEx -->
                    <div ng-if="f.type == 'text' && f.pattern && !f.smartFloat">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="text" class="form-control" ng-model="f.value" ng-pattern="f.pattern" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" />
                    </div>

                    <!-- Standard Password Input -->
                    <div ng-if="f.type == 'password' && !f.pattern">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="password" class="form-control" ng-model="f.value" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" />
                    </div>

                    <!-- Standard Password Input with RegEx-->
                    <div ng-if="f.type == 'password' && f.pattern">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="password" class="form-control" ng-model="f.value" ng-pattern="f.pattern" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" />
                    </div>

                    <!-- Standard Email Input -->
                    <div ng-if="f.type == 'email'">
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$invalid && form_{{f.id}}.$dirty">{{ f.validationMessage }}</small>
                        <small class="pull-right text-danger" ng-show="form_{{f.id}}.$error.email">Invalid email address</small>
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            {{ f.label }}
                        </label>
                        <input id="{{ f.id }}" name="{{ f.id }}" type="email" class="form-control" ng-model="f.value" ng-required="f.required" ng-trim="{{ f.trimWhitespace }}" />
                    </div>

                    <!-- Multiline Text -->
                    <div ng-if="f.type == 'multiline'">
                        <label for="myInput" class="control-label" ng-if="f.label">{{ f.label }}</label>
                        <textarea id="myInput" rows="5" type="text" class="form-control" ng-model="f.value" ng-trim="false"></textarea>
                    </div>

                    <!-- Checkbox -->
                    <div ng-if="f.type == 'checkbox'" class="checkbox">
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">
                            <input id="{{ f.id }}" name="{{ f.id }}" type="checkbox" ng-model="f.value" />
                            {{ f.label }}
                        </label>
                    </div>

                    <!-- Dropdown/Select -->
                    <div ng-if="f.type == 'select'">
                        <label for="{{ f.id }}" class="control-label" ng-if="f.label">{{ f.label }}</label>
                        <select id="{{ f.id }}" name="{{ f.id }}" class="form-control" ng-model="f.selectedItem" data-ng-options="value.label for value in f.value"></select>
                    </div>

                </div>

            </ng-form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()" ng-disabled="modalForm.$invalid || modalForm.$pristine">OK</button>
            <a class="btn btn-default" data-ng-click="cancel()">Cancel</a>
        </div>
    </fieldset>
</form>