<div class="modal-header" ng-show="title">
    <span>{{ title }}</span>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="myInput" ng-show="label">{{ label }}</label>
        <input id="myInput" type="text" class="form-control" ng-model="result.value" placeholder="{{ placeholder }}" rr-focus />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()">OK</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>